<!DOCTYPE html>
<html lang="en" class="theme1">
<head>
  <title>Calculator app</title>
  <link rel="stylesheet" href="app.component.css" />
</head>
<body>
<main>
  <header>
    <h1>calc</h1>
    <div class="themeContainer">
      <h2>theme</h2>
      <div class="switchContainer">
        <h2>123</h2>
        <input class="switch" type="range" min="1" max="3" aria-label="theme"/>
      </div>
    </div>
  </header>

  <section class="resultContainer">
    <div class="operation">{{ operatorSign }}</div>
    <div class="result">{{ displayValue | formatResult }}</div>
  </section>

  <section class="controlBoard" (click)="onButtonClick($event)">
    <div class="button" data-button="7">7</div>
    <div class="button" data-button="8">8</div>
    <div class="button" data-button="9">9</div>
    <div class="button" data-button="DEL">DEL</div>
    <div class="button" data-button="4">4</div>
    <div class="button" data-button="5">5</div>
    <div class="button" data-button="6">6</div>
    <div class="button" data-button="+">+</div>
    <div class="button" data-button="1">1</div>
    <div class="button" data-button="2">2</div>
    <div class="button" data-button="3">3</div>
    <div class="button" data-button="-">-</div>
    <div class="button" data-button=".">.</div>
    <div class="button" data-button="0">0</div>
    <div class="button" data-button="/">/</div>
    <div class="button" data-button="x">x</div>
    <div class="button" data-button="RESET">RESET</div>
    <div class="button" data-button="=">=</div>
  </section>
</main>
<script src="app.component.ts"></script>
</body>
</html>
