<!DOCTYPE html>
<html lang="en" class="theme1">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./Downloads/theme1.png"
  />
  <title>Calculator app</title>
  <link rel="stylesheet" href="app.component.css" />
</head>
<body>
<main>
  <header>
    <h1>calc</h1>
    <div class="themeContainer">
      <h2>theme</h2>
      <div class="switchContainer">
        <h2>123</h2>
        <input
          [(ngModel)]="switchPosition"
          (input)="setTheme(switchPosition)"
          class="switch"
          type="range"
          aria-label="theme"
          min="1"
          max="3"
        />
      </div>
    </div>
  </header>

  <section class="resultContainer">
    <div class="operation">{{ operatorSign }}</div>
    <div class="result">{{ displayValue }}</div>
  </section>

  <section class="controlBoard">
    <div class="button" (click)="calculate('7')">7</div>
    <div class="button" (click)="calculate('8')">8</div>
    <div class="button" (click)="calculate('9')">9</div>
    <div class="button" (click)="calculate('DEL')">DEL</div>

    <div class="button" (click)="calculate('4')">4</div>
    <div class="button" (click)="calculate('5')">5</div>
    <div class="button" (click)="calculate('6')">6</div>
    <div class="button" (click)="calculate('+')">+</div>

    <div class="button" (click)="calculate('1')">1</div>
    <div class="button" (click)="calculate('2')">2</div>
    <div class="button" (click)="calculate('3')">3</div>
    <div class="button" (click)="calculate('-')">-</div>

    <div class="button" (click)="calculate('.')">.</div>
    <div class="button" (click)="calculate('0')">0</div>
    <div class="button" (click)="calculate('/')">/</div>
    <div class="button" (click)="calculate('x')">x</div>

    <div class="button" (click)="calculate('RESET')">RESET</div>
    <div class="button" (click)="calculate('=')">=</div>
  </section>
</main>

<footer>
  Coded by
  <a href="https://github.com/hira524/Calculator-app">Syeda Hira</a>.
</footer>

<script src="app.component.ts"></script>
</body>
</html>
